<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thesis.filconnected">
    <!-- Declare permissions and features -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- for voice -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FILConnectEd"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestureRecognizer"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".FastApi.Video"
            android:exported="false" />

        <service
            android:name="android.speech.RecognitionService"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION" /> <!-- App Tutorial -->
        <activity
            android:name=".users.apptutorial.AppTwoFslToText"
            android:exported="false" />
        <activity
            android:name=".users.apptutorial.AppThreeTextToFsl"
            android:exported="false" />
        <activity
            android:name=".users.apptutorial.AppOneFslToText"
            android:exported="false" /> <!-- Admin -->
        <activity
            android:name=".admin.model_version.Training"
            android:exported="false" />
        <activity
            android:name=".admin.model_version.TrainingCamera"
            android:exported="false" />
        <activity
            android:name=".admin.SignIn"
            android:exported="false" />
        <activity
            android:name=".admin.SignUpSuccess"
            android:exported="false" />
        <activity
            android:name=".AddVideoAdmin.UploadVideo"
            android:exported="false" />
        <activity
            android:name=".admin.AddVideoTextToFsl"
            android:exported="false" /> <!-- users -->
        <activity
            android:name=".users.Modal"
            android:exported="false" />
        <activity
            android:name=".users.TextToFsl"
            android:exported="false" />
        <activity
            android:name=".users.HomePage"
            android:exported="false" />
        <activity
            android:name=".users.DevInfo"
            android:exported="false" />
        <activity
            android:name=".users.About"
            android:exported="false" />
        <activity
            android:name=".users.FSLtoText"
            android:exported="true" /> <!-- both -->
        <activity
            android:name=".admin.WelcomeAdmin"
            android:exported="true">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth2redirect"
                    android:scheme="filconnected" />
            </intent-filter>
        </activity>
        <activity
            android:name=".both.Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>